.contact{
  min-height: 100vh;
}

.contact-container {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 100px auto 100px auto;
}

.contact-title {
  margin-top: 50px;
  text-align: center;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.contact-msg {
  font-size: 18px;
}

.contact-logo {
  width: 80%;
}

.form {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 70%;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

label {
  margin: 5px 0;
  font-size: 18px;
}

.menu-opt {
  font-size: 18px;
  text-align: left;
  margin: 0 0 10px 0;
  padding: 0;
}

#user_name,
#user_email,
select {
  line-height: 2rem;
  background: #fff;
  border: 2px solid black;
  padding: 0 5px;
}

select {
  height: 60px;
}

textarea {
  background: #fff;
  border: 2px solid black;
  padding: 0 5px;
}

.email-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  font-size: 16px;
  margin: 25px auto;
  width: 40%;
  font-family: "Kalnia";
  background: black;
  color: #fff;
  cursor: pointer;
}

.email-btn:hover {
  background-color: green;
  border: 2px solid black;
  transition: 0.3s;
}

@media screen and (max-width: 800px) {
  
  .contact-container {
    flex-direction: column;
    margin: 0 auto;
  }

  .contact-info {
    width: 100%;
    padding: 10px;
  }

  .contact-logo {
    margin: 25px auto;
  }

  .email-form-container {
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
  }

  .form {
    width: 100%;
  }

  .email-btn {
    display: flex;
    font-size: 16px;
    width: 60%;
  }
}
